av==10.0.0
Markdown==3.4.4
markdown-it-py==3.0.0
matplotlib==3.8.0
numpy==1.24.3
opencv-python==4.8.0.76
pandas==2.1.1
schedule==1.2.1
streamlit==1.27.2
streamlit-server-state==0.17.1
streamlit-session-memo==0.3.1
streamlit-webrtc==0.47.1
sympy==1.12
tenacity==8.2.3
tensorboard==2.14.1
tensorboard-data-server==0.7.1
termcolor==2.3.0
torch==2.1.0S
